[Unit]
Description=OneDrive Block Device Daemon (%i)
Requires=modprobe@ublk_drv.service
After=network-online.service modprobe@ublk_drv.service

[Service]
Type=notify-reload
ExecStart=/usr/bin/orb serve --config-file "${CONFIGURATION_DIRECTORY}/%i.toml"
StateDirectory="orb/%i"
StateDirectoryMode=0700
ConfigurationDirectory=orb
# Save debug dumps in the cache directory, unified, because they have timestamp
# suffixes. TMPDIR is otherwise readonly because of PrivateTmp.
CacheDirectory=orb
CacheDirectoryMode=0700
Environment="RUST_BACKTRACE=1" "TMPDIR=%C/orb"

CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_RESOURCE
DeviceAllow=/dev/ublk-control rw
DeviceAllow=char-ublk-char rw
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
